<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Image Uploading</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<body class="bg-dark">
	<h1 class="text-center text-white">Upload Image to Local mongoDB</h1>
	<hr>
	<div class="container bg-light p-4">
		<form action="/" method="POST" enctype="multipart/form-data">
			<div class="form-group">
				<label for="name">Image Title</label>
				<input type="text" id="name" placeholder="Name"
					value="" name="name" required>
			</div>
			<div class="form-group">
				<label for="desc">Image Description</label>
				<textarea id="desc" name="desc" value="" rows="2"
						placeholder="Description" required>
				</textarea>
			</div>
			<div class="form-group">
				<label for="image">Upload Image</label>
				<input class="form-control-file" type="file" id="image"
					name="image" value="" required>
			</div>
			<div>
				<button type="submit" class="btn btn-success outline-none">Submit</button>
			</div>
		</form>
	</div>

	<hr>

	<h1 class="text-center mb-4">Uploaded Images</h1>
	<div class="container d-flex flex-wrap justify-content-center text-white">
		<% items.forEach(function(image) { %>
		<div class="mx-2">
			<div style="width:260px">
				<img style="width:100%" class="border border-dark" src="data:image/<%=image.img.contentType%>;base64,
					<%=image.img.data.toString('base64')%>">
				<div>
					<h5>Image Name : <%= image.name %></h5>
                    <p> Description:<%= image.desc %></p>
				</div>
			</div>
		</div>
		<% }) %>
	</div>
</body>

</html>
